<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{constant('ramenApp\\Bootstrap::APP_URL')}}css/style.css">
</head>

<body>

	<div class="form-wrapper">
		<h1>編集</h1>
		<form method="post" enctype="multipart/form-data">
			<div class=" form-item">
				<label for="name"></label>
				<input type="text" name="name" required="required" placeholder="店名" value="{% if detail.name|length >0 %}{{detail.name}}{% endif %}"></input>
				{% if err_msg.emptyname|length > 0 %}
				<p>{{err_msg.emptyname}}</p>
				{% endif %}
			</div>

			<div class="form-item">
				<label for="address"></label>
				<input type="text" name="address" required="required" placeholder="住所" value="{% if detail.address|length >0 %}{{detail.address}}{% endif %}"></input>
				{% if err_msg.emptyaddress|length > 0 %}
				<p>{{err_msg.emptyaddress}}</p>
				{% endif %}
			</div>

			<div class="form-item">
				<label for="taste"></label>
				<select name="taste" required="required" placeholder="味" class="taste">
					<option value="0">味を選択して下さい</option>
					{% for key, value in tastes %}
					{% if value.taste == detail.taste %}
					<option value="{{value.id}}" selected>{{value.taste}}</option>
					{% else %}
					<option value="{{value.id}}">{{value.taste}}</option>
					{% endif %}
					{% endfor %}
				</select>
				{% if taste|length > 0 %}
				<p>{{err_msg.emptytaste}}</p>
				{% endif %}
			</div>

			<div class="form-item">
				<label for="taste"></label>
				<select name="price" required="required" placeholder="価格" class="price">
					<option value="0">価格帯を選択して下さい</option>
					{% for key, value in price_range %}
					{% if value.price_text == detail.price_text %}
					<option value="{{value.id}}" selected>{{value.price_text}}</option>
					{% else %}
					<option value="{{value.id}}">{{value.price_text}}</option>
					{% endif %}
					{% endfor %}
				</select>
				{% if taste|length > 0 %}
				<p>{{emptytaste}}</p>
				{% endif %}
			</div>


			<div class="form-item">
				<p>画像を変更する場合は選択して下さい</p>
				<label for="pic"></label>
				<input id="pic" type="file" name="pic" placeholder="Pic"></input>
				{% if err_msg.emptypic|length > 0 %}
				<p>{{err_msg.emptypic}}</p>
				{% endif %}
				<div class="prev" style="margin-top: 10px"><img width='150px' height='150px' src=" {{constant('ramenApp\\Bootstrap::APP_URL')}}pic/{{detail.pic}}" alt=""></div>
			</div>
			<div class="pic2"></div>
			<div class="pic3"></div>

			<div class="form-item">
				<p>煙草について</p>
				<label for="smoke"></label>
				{% if detail.smoke == '禁煙' %}
				<input type="radio" name="smoke" value="禁煙" class="detail-radio" checked>禁煙
				<input type="radio" name="smoke" value="喫煙席有" class="detail-radio">喫煙席有
				{% endif %}
				{% if detail.smoke == '喫煙席有' %}
				<input type="radio" name="smoke" value="禁煙" class="detail-radio">禁煙
				<input type="radio" name="smoke" value="喫煙席有" class="detail-radio" checked>喫煙席有
				{% endif %}
			</div>

			<div class="form-item option-form">
				<p>その他の情報</p>
				{% for key, value in options %}
				{{value|raw}}
				{% endfor %}
			</div>

			<div class="form-item">
				<textarea name="introduction" id="" cols="70" rows="10" placeholder="ラーメンに対する評価、ご感想をお書きください">{% if detail.introduction|length >0 %}{{detail.introduction}}{% endif %}</textarea>
				{% if err_msg.emptyintroduction|length > 0 %}
				<p>{{err_msg.emptyintroduction}}</p>
				{% endif %}
			</div>

			<div class="button-panel">
				<input type="submit" class="button" title="post" value="投稿する"></input>
			</div>
		</form>

		<div class="form-footer">
		</div>

		{% for key,val in option_id %}
		<input type="hidden" value="{{val}}" class="option-hidden">
		{% endfor %}

		<script src="{{constant('ramenApp\\Bootstrap::APP_URL')}}js/jquery.min.js"></script>
		<script src="{{constant('ramenApp\\Bootstrap::APP_URL')}}js/auto_check.js"></script>
</body>

</html>
