<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{constant('ramenApp\\Bootstrap::APP_URL')}}css/style.css">
</head>

<body>

	<div class="form-wrapper">
		<h1>投稿</h1>
		<form method="post" enctype="multipart/form-data">
			<div class=" form-item">
				<label for="name"></label>
				<input type="text" name="name" required="required" placeholder="店名" value="{% if name|length >0 %}{{name}}{% endif %}"></input>
				{% if emptyname|length > 0 %}
				<p>{{emptyname}}</p>
				{% endif %}
			</div>

			<div class="form-item">
				<label for="adress"></label>
				<input type="text" name="address" required="required" placeholder="住所" value="{% if name|length >0 %}{{address}}{% endif %}"></input>
				{% if emptyaddress|length > 0 %}
				<p>{{emptyaddress}}</p>
				{% endif %}
			</div>

			<div class="form-item">
				<label for="taste"></label>
				<input type="" name="taste" required="required" placeholder="味" value="{% if name|length >0 %}{{taste}}{% endif %}"></input>
				{% if taste|length > 0 %}
				<p>{{emptytaste}}</p>
				{% endif %}
			</div>

			<div class="form-item">
				<label for="pic"></label>
				<input id="pic" type="file" name="pic" required="required" placeholder="Pic"></input>
				{% if emptypic|length > 0 %}
				<p>{{emptypic}}</p>
				{% endif %}
				<div class="prev" style="margin-top: 10px"></div>
			</div>

			<div class="form-item">
				<textarea name="introduction" id="" cols="70" rows="10" placeholder="ラーメンに対する評価、ご感想をお書きください" value="{% if name|length >0 %}{{text}}{% endif %}"></textarea>
				{% if emptytext|length > 0 %}
				<p>{{emptytext}}</p>
				{% endif %}
			</div>

			<div class="button-panel">
				<input type="submit" class="button" title="post" value="投稿する"></input>
			</div>
		</form>

		<div class="form-footer">
		</div>

		<script src="{{constant('ramenApp\\Bootstrap::APP_URL')}}js/jquery.min.js"></script>
		<script src="{{constant('ramenApp\\Bootstrap::APP_URL')}}js/fileprev.js"></script>
</body>

</html>
