<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{constant('ramenApp\\Bootstrap::APP_URL')}}css/style.css">
</head>

<body>

	<div class="form-wrapper">
		<h1>投稿</h1>
		<form method="post" enctype="multipart/form-data">
			<div class=" form-item">
				<label for="name"></label>
				<input type="text" name="name" required="required" placeholder="店名" value="{% if name|length >0 %}{{name}}{% endif %}"></input>
				{% if emptyname|length > 0 %}
				<p class="err_msg">{{emptyname}}</p>
				{% endif %}
			</div>

			<div class="form-item">
				<label for="address"></label>
				<input type="text" name="address" required="required" placeholder="住所" value="{% if address|length >0 %}{{address}}{% endif %}"></input>
				{% if emptyaddress|length > 0 %}
				<p class="err_msg">{{emptyaddress}}</p>
				{% endif %}
			</div>


			<div class="form-item">
				<label for="taste"></label>
				<select name="taste" required="required" placeholder="味" class="taste">
					<option value="0">味を選択して下さい</option>
					{% for key, value in tastes %}
					{% if taste == value.id %}
					<option value="{{value.id}}" selected>{{value.taste}}</option>
					{% else %}
					<option value="{{value.id}}">{{value.taste}}</option>
					{% endif %}
					{% endfor %}
				</select>
				{% if taste|length > 0 %}
				<p class="err_msg">{{emptytaste}}</p>
				{% endif %}
			</div>

			<div class="form-item">
				<label for="taste"></label>
				<select name="price" required="required" placeholder="価格" class="price">
					<option value="0">価格帯を選択して下さい</option>
					{% for key, value in price_range %}
					<option value="{{value.id}}">{{value.price_text}}</option>
					{% endfor %}
				</select>
				{% if emptyprice|length > 0 %}
				<p class="err_msg">{{emptyprice}}</p>
				{% endif %}
			</div>


			<div class="form-item">
				<label for="pic"></label>
				<input id="pic" type="file" name="pic" required="required" placeholder="Pic"></input>
				{% if emptypic|length > 0 %}
				<p class="err_msg">{{emptypic}}</p>
				{% endif %}
				<div class="prev" style="margin-top: 10px"></div>
			</div>
			<!--<div class="pic2" style="display: none">
				<div class="form-item">
					<label for="pic2"></label>
					<input id="pic2" type="file" name="pic2" placeholder="Pic2"></input>
					{% if emptypic|length > 0 %}
					<p class="err_msg">{{emptypic}}</p>
					{% endif %}
					<div class="prev2" style="margin-top: 10px"></div>
				</div>

			</div>
			<div class="pic3" style="display: none">
				<div class="form-item">
					<label for="pic3"></label>
					<input id="pic3" type="file" name="pic3" placeholder="Pic3"></input>
					{% if emptypic|length > 0 %}
					<p class="err_msg">{{emptypic}}</p>
					{% endif %}
					<div class="prev3" style="margin-top: 10px"></div>
				</div>
			</div>-->

			<div class="form-item">
				<p>煙草について</p>
				<label><input type="radio" name="smoke" value="禁煙" class="detail-radio" checked>禁煙</label>
				<label><input type="radio" name="smoke" value="喫煙席有" class="detail-radio">喫煙席有</label>
			</div>

			<div class="form-item option-form">
				<p>その他の情報</p>
				{%for key,value in options%}
				<label class="option-label">
					<input type="hidden" name=option[{{key}}] value=0>
					<input class="option" type="checkbox" name="option[{{key}}]" value="1">{{value.text}}</label>
				{% endfor %}
			</div>


			<div class="form-item">
				<textarea name="introduction" id="" cols="70" rows="10" placeholder="ラーメンに対する評価、ご感想をお書きください" value="{% if name|length >0 %}{{introduction}}{% endif %}">{% if introduction|length >0 %}{{introduction}}{% endif %}</textarea>
				{% if emptyintroduction|length > 0 %}
				<p class="err_msg">{{emptyintroduction}}</p>
				{% endif %}
			</div>

			<div class="button-panel">
				<input type="submit" class="button post-button" title="post" value="投稿する"></input>
			</div>
		</form>
	</div>
	<div class="form-footer">
	</div>

	<script src="{{constant('ramenApp\\Bootstrap::APP_URL')}}js/jquery.min.js"></script>
	<script src="{{constant('ramenApp\\Bootstrap::APP_URL')}}js/fileprev.js"></script>

</body>

</html>
